---
title: "Einführung"
description: "Willkommen zu Artificial Impasto! Hier erfährst du, wie du KI-gestützte Kunstwerke erstellen kannst."
order: 5
---

<script lang="ts">
    import NavigationGrid from "$lib/components/NavigationGrid.svelte"
</script>


# Einfürhung

Hier kommt die Einführung rein.



<!-- <NavigationGrid pages={childrenPages} /> -->